<h3 class="mt-5 mb-5 text-xl sm:text-xl lg:text-3xl leading-none font-extrabold text-gray-900 tracking-tight">
  Our current MC is <%= @mc.name %>
</h3>

<%= form_for @mc, url: 'emcees/current', method: :put do |f| -%>
  <div class="block relative w-40 mt-5 mb-5">
    <label for="backmaker_id" class="test-m text-gray-900">🤔 Who should be our MC next week ?</label>
    <%= select_tag 'backmaker_id',
                   options_from_collection_for_select(@backmakers, 'id', 'name'),
                   class: 'block appearance-none w-full bg-white border border-gray-100 hover:border-indigo-100 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline' %>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
    </div>
  </div>
  <%= f.submit 'Save', class: 'inline-flex py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
<% end %>
