<script>
  window.interestings = <%= raw(@interestings.to_json) %>
  window.backmakers = <%= raw(@backmakers.to_json) %>
</script>

<h1>Allez let's go, c'est l'heure</h1>

<% if @interestings %>
<section class=interestings>
  <h2>Interestings</h2>
  <span><%= @interestings.count %></span>
</section>
<% end %>

<% if @backmakers %>
<section class=backmakers>
  <h2>BackMakers</h2>
  <span><%= @backmakers.count %></span>
</section>
<% end %>

<% unless @backmakers or @interestings %>
<span>Nothing to present. Are you <strong>sure</strong> you want to run standup ?<span>
<% end %>

<section class=spotlight>
</section>

