<h1>Ye Olde Daily Standup</h1>

<section>
  <h2>Interestings</h2>
  
  <% if @interestings %>
  <ul class='interestings'>
  
  <% @interestings.each do |interesting| %>
  <li><%= interesting.title %></li>
  <% end %>
  
  </ul>
  <% end %>

  <%= link_to 'Add new Interesting', new_standup_interesting_path('today') %>
</section>

<section>
<h2>La Team</h2>

<% if @backmakers %>
  <ul class='backmakers'>
    <% @backmakers.each do |backmaker| %>
	<li><%= backmaker.name %></li>
    <% end %>
  </ul
<% end %>
</section>

